{% extends 'base.html.twig' %}

{% block title %}{% trans %}Inscription{% endtrans %}
{% endblock %}

{% block body %}
    <h1 class='text-center'>{% trans %}Inscription{% endtrans %}</h1>
    <section class="container">
        <div class="row">
            <div class="col">
                {{ form_start(registrationForm) }}
                {{ form_errors(registrationForm) }}

                <fieldset class="mb-3">
                    <legend>{% trans %}Mon identité{% endtrans %}</legend>
                    {{ form_row(registrationForm.prenom) }}
                    {{ form_row(registrationForm.nom) }}
                    {{ form_row(registrationForm.birthdate) }}
                    {{ form_row(registrationForm.email) }}
                </fieldset>

                <fieldset class="mb-3">
                    <legend>{% trans %}Mes coordonnées{% endtrans %}</legend>
                    {{ form_row(registrationForm.adresse) }}
                    {{ form_row(registrationForm.ville) }}
                    {{ form_row(registrationForm.codepostal) }}
                    {{ form_row(registrationForm.phonenumber) }}
                </fieldset>

                <fieldset class="mb-3">
                    <legend>{% trans %}Mon mot de passe{% endtrans %}</legend>
                    {{ form_row(registrationForm.password) }}
                </fieldset>

                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary btn-lg my-3">{% trans %}M'inscrire{% endtrans %}</button>
                <a href="{{ path('app_login')}}" class='btn btn-secondary btn-lg'>{% trans %}Me connecter{% endtrans %}</a>
                {{ form_end(registrationForm) }}


            </div>
        </div>
    </section>
{% endblock %}