{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>DateFin</th>
            <th>DateDebut</th>
            <th>DateRendu</th>
            <th>Extension</th>
            <th>Commentaire</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for pret in prets %}
        <tr>
            <td>{{ pret.id }}</td>
            <td>{{ pret.dateFin ? pret.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ pret.dateDebut ? pret.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ pret.dateRendu ? pret.dateRendu|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ pret.extension ? 'Yes' : 'No' }}</td>
            <td>
                {% if pret.commentaire is not null %}
                    {{ pret.commentaire }}
                {% else %}
                    <form method="post" action="{{ path('app_prets_admin_comment', {'id': pret.id}) }}">
                        <textarea name="commentaire" placeholder="Ajouter un commentaire"></textarea>
                        <button type="submit">Enregistrer</button>
                    </form>
                {% endif %}
            </td>
            <td>
                <a href="{{ path('app_prets_admin_show', {'id': pret.id}) }}"class="btn btn-primary">Ajouter un commentaire</a>
             
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Pas de prêt</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}