{% extends 'base.html.twig' %}

{% block title %}Détails du prêt{% endblock %}

{% block body %}
    <h1>Détails du prêt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pret.id }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ pret.dateFin ? pret.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ pret.dateDebut ? pret.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateRendu</th>
                <td>{{ pret.dateRendu ? pret.dateRendu|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Extension</th>
                <td>{{ pret.extension ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>
                    {% if pret.commentaire %}
                        {{ pret.commentaire }}
                    {% else %}
                    <form method="post" action="{{ path('app_prets_admin_comment', {'id': pret.id}) }}">
                        <textarea name="commentaire" placeholder="Ajouter un commentaire"></textarea>
                        <button type="submit">Enregistrer</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prets_admin_index') }}"class="btn btn-warning">Retour à la liste</a>
    
{% endblock %}
