{% extends 'base.html.twig' %}

{% block title %}Liste des Livres{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des Livres</h1>

    {{ dump (app.user) }}
    {{ dump (user.id) }}

    <table class="table">

        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% if 'ROLE_ADMIN' in app.user.roles %} 
                        Administrateur
                    {% elseif 'ROLE_USER' in app.user.roles %}
                        Utilisateur
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>

        <thead>

            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>Disponibilité</th>
                <th>Date de début</th>
                <th>Date de Restitution Prévue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for livre in livre %}
                <tr>
                    <td><img src="{{ livre.image }}" alt="Image du livre" style="width: 100px;"></td>
                    <td>{{ livre.titre }}</td>
                    <td>
                        {% if livre.disponibilite %}
                            Disponible
                        {% else %}
                            Emprunté
                        {% endif %}
                    </td>
                    <td>
                        {% if livre.dateDebut %}
                            {{ livre.dateDebut|date('d/m/Y') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if livre.dateRendu %}
                            {{ livre.dateRendu|date('d/m/Y') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if not livre.disponibilite %}
                            {% if livre.dateRendu < "now"|date %}
                                <span style="color: red;">En retard</span>
                            {% endif %}
                            <form action="{{ path('restitution', {'id': livre.id}) }}" method="post">
                                <button type="submit" class="btn btn-primary">Enregistrer la restitution</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
