{% extends 'base.html.twig' %}

{% block title %}Détails du Livre{% endblock %}

{% block body %}
<div class="container">
    <h1>Détails du Livre</h1>

    <div>
        <h3>{{ livre.nom }}</h3>
        <p><strong>Auteur:</strong> {{ livre.auteur }}</p>
        <p><strong>Année de Publication:</strong> {{ livre.anneePublication }}</p>
        <p><strong>État:</strong> {{ livre.etat.libelle }}</p>
        <p><strong>Note:</strong> {{ livre.note }}</p>
        <p><strong>Disponibilité:</strong> {% if livre.disponibilite %}Disponible{% else %}Non disponible{% endif %}</p>
        <img src="{{ livre.image }}" alt="Image du Livre">
    </div>

     {% set pretEnCours = prets[0] ?? null %}
    {% if livre.disponibilite and not pretEnCours %}
        <!-- Si le livre est disponible et aucun prêt en cours -->
        <form action="{{ path('reservation', {'id': livre.id}) }}" method="post">
            <button type="submit" class="btn btn-success">Réserver</button>
        </form>
    {% elseif pretEnCours %}
        <!-- Si le livre est déjà réservé -->
        <p>Livre déjà réservé, disponible à partir du {{ pretEnCours.dateFin|date('d/m/Y') }}</p>
    {% endif %}

    <a href="{{ path('app_livre') }}" class="btn btn-primary">Retour à la liste des livres</a>
</div>
{% endblock %}