{% extends 'base.html.twig' %}

{% block title %}Hello BanController!{% endblock %}

{% block body %}

    <h1>Utilisateurs bannis</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>

    {% for users in banList %}

        <table>
            <tbody>
                <tr>
                    <td>{{ users.id }}</td>
                    <td>{{ users.email }}</td>
                    <td>{{ users.nom }}</td>
                    <td>{{ users.prenom }}</td>
                    <td>
                        <a href="{{ path('app_unBan_user', {'id': users.id}) }}" onclick = "return confirm ('Vous allez débannir {{users.nom}} {{users.prenom}}. Etes en êtes-vous sûr?')" class='btn btn-success'>Débannir</a>
                    </td>
                </tr>
            </tbody>
        </table>

    {% endfor %}

{% endblock %}
