{% extends 'base.html.twig' %}

{% block title %}{% trans %}Calendrier {% endtrans %}{% endblock %}

{% block stylesheets %}
    <style>
        #calendrier{
            width: 80%;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
{{dump(data)}}
    <div id="calendrier">
    </div>
     <form id="event-form" method="post" action="{{ path('save_event',{ id:id }) }}">
    <input type="hidden" id="event-data" name="event-data" value="">

 

</div>
</div>
</form>


{% block javascripts %}
<script>

 
    document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendrier');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'timeGridWeek',
    locale: 'fr',
    timeZone: 'Europe/Paris',
    slotMinTime: "08:00:00",
    slotMaxTime: "19:00:00",
    weekends: false,
    slotDuration: '01:00:00' ,
    allDaySlot:false,
    height:'380px',
    headerToolbar: {
       start: 'prev,next today',
                
                end: 'timeGridWeek'

    },
    events: {{ data|raw}},
    selectable: true,

  });

  calendar.render();
   var eventForm = document.getElementById('event-form');
    var eventDataInput = document.getElementById('event-data');
 function addHours(date, hours) {
           const hoursToAdd = hours * 60 * 60 * 1000;
           date.setTime(date.getTime() + hoursToAdd);
           return date;
         }

    calendar.on('select', function(info) {
     
       if ( window.confirm(`{{confirmMsg}}`) ) {
      var heure = prompt(`{{chooseHourSlot}}`);
      if(heure>4){
        alert(`{{errorHours}}`);
        //supprimer les cases qui s'affiche quand on clique ok 
      }else{
          var dateFin = new Date(info.start.toISOString());
          dateFin= addHours(dateFin, heure);
          dateFin= dateFin.toISOString().substring(0, 24);
       

            var event = {
                start: info.start.toISOString(),
                end: dateFin,
                hours:heure,

            };
      
            eventDataInput.value = JSON.stringify(event);
             
            eventForm.submit();
      }
       
       }
    });

});

</script>

{% endblock %}
{% endblock %}