{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Image</th>
                <th>Disponibilite</th>
                <th>DateRendu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.Nom }}</td>
                <td>{{ livre.image }}</td>
                <td>{{ livre.Disponibilite ? 'Yes' : 'No' }}</td>
                <td>{{ livre.dateRendu }}</td>
                <td>
                    <a href="{{ path('app_admin_livre_show', {'id': livre.id}) }}">show</a>
                    <a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_livre_new') }}">Create new</a>
{% endblock %}
