{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre index</h1>

    <!-- Bouton pour afficher uniquement les livres en retard -->
    <form action="{{ path('app_admin_livre_en_retard') }}" method="get" style="margin-bottom: 20px;">
        <button type="submit" class="btn btn-danger">Afficher les livres en retard</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Date de Réstitution</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for livre in livres %}
                <tr>
                    <td>{{ livre.id }}</td>
                    <td>{{ livre.nom }}</td>
                    <td>{{ livre.image }}</td>
                    <td>
                        {% set pretEnCours = pret[livre.id] ?? NULL %}
                        {% if pretEnCours %}
                        {% for pret in pretEnCours %}
                        {% if pret.livre.id == livre.id %}

                                {{ pret.dateFin|date('d/m/Y') }}
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            - <!-- Si aucun prêt en cours pour ce livre -->
                        {% endif %}
                    </td>
                    <td>

                    <div class="btn">
                        {% if pretEnCours %}
                            <!-- Bouton pour marquer le livre comme rendu -->
                            <form action="{{ path('app_admin_livre_rendu', {'id': livre.id}) }}" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-info">Rendu</button>
                            </form>
                        {% endif %}
                        <a href="{{ path('app_admin_livre_show', {'id': livre.id}) }}"class="btn btn-primary">Voir</a>
                        <a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}"class="btn btn-success">Modifier</a>
                    </div>
                    </td>
                </tr>
            {% else %}
                        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_livre_new') }}"class="btn btn-warning">Ajouter un nouveau livre</a>
{% endblock %}

